{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "new-cap": 0,
    "no-nested-ternary": 0,
    "no-shadow": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-no-bind": 0,
    "max-len": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": [2, { "props": false }],
    "global-require": 0,
  }
}
